<!-- Task Context Menu Template -->
<!-- This is a template-only component, actual dropdown is controlled by nz-dropdown directive in parent -->
<nz-dropdown-menu #contextMenu="nzDropdownMenu">
  <ul nz-menu class="task-context-menu">
    @if (menuItems().length === 0) {
      <li nz-menu-item [nzDisabled]="true">無可用操作</li>
    }
    @for (item of menuItems(); track item.key) {
      @if (item.divider) {
        <!-- Divider -->
        <li nz-menu-divider></li>
      } @else if (item.children && item.children.length > 0) {
        <!-- Submenu -->
        <li nz-submenu [nzTitle]="item.label" [nzIcon]="item.icon || null" [nzDisabled]="item.disabled || false">
          <ul>
            @for (childItem of item.children; track childItem.key) {
              <li 
                nz-menu-item 
                [nzDisabled]="childItem.disabled || false"
                [nzDanger]="childItem.danger || false"
                (click)="handleMenuClick(childItem)"
              >
                @if (childItem.icon) {
                  <span nz-icon [nzType]="childItem.icon"></span>
                }
                {{ childItem.label }}
              </li>
            }
          </ul>
        </li>
      } @else {
        <!-- Regular menu item -->
        <li 
          nz-menu-item 
          [nzDisabled]="item.disabled || false"
          [nzDanger]="item.danger || false"
          (click)="handleMenuClick(item)"
        >
          @if (item.icon) {
            <span nz-icon [nzType]="item.icon"></span>
          }
          {{ item.label }}
        </li>
      }
    }
  </ul>
</nz-dropdown-menu>
